

<div class="table-responsive-sm">
    <table class="table  align-middle">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="hero in heros" ng-click="detail({$event: $event, id:hero.id})">
                <td>
                    <img src="{{hero.imgUrl}}" alt="hero image" srcset="" class="responsive-img">
                    
                </td>
                <td>
                    {{hero.name}}
                </td>
                <td class="descripton">
                    {{hero.description}}
                    
                </td>
            </tr>
            <tr ng-if="heros.length === 0">
                <td colspan="3" class="text-center" style="text-align: center">
                    Sorry, We could not find any heroes
                </td> 
            </tr>
        </tbody>
    </table>
</div>